<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="exampleInputEmail1">Enter Symbol</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter symbol"
               (keyup.enter)="getData()"
               (keyup)="symbol = symbol.toUpperCase()"
               [(ngModel)]="symbol">
        <small id="emailHelp" class="form-text text-muted">Stock market: {{data?.company}}</small>
      </div>
      <button type="button" class="btn btn-primary" (click)="getData()">Check</button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-6">
      <div class="card" style="border: 1px solid #d9d9d9">
        <div class="card-header">
          Fundamental Analysis
        </div>
        <ul class="list-group list-group-flush" *ngIf="data.hasOwnProperty('analisis')">
          <ng-container *ngFor="let value of data.analisis | keys">
            <li *ngIf="value !== 'bad'" class="list-group-item"
            [ngClass]="{'bad-data':
                (data.analisis.bad.includes('no_52')     && value == '52_Week_Change') ||
                (data.analisis.bad.includes('more_debt') && value == 'Total_Debt')     ||
                (data.analisis.bad.includes('low_float') && value == 'Float')          ||
                ( data.analisis[value] > 5               && value == 'Stocks_Price')   ||
                (data.analisis.bad.includes('short')     && value == 'Short_P_of_Float'),
               'good-data':
                (!data.analisis.bad.includes('no_52')     && value == '52_Week_Change') ||
                (!data.analisis.bad.includes('more_debt') && value == 'Total_Debt')     ||
                (!data.analisis.bad.includes('low_float') && value == 'Float')          ||
                ( data.analisis[value] <= 5               && value == 'Stocks_Price')   ||
                (!data.analisis.bad.includes('short')     && value == 'Short_P_of_Float')}">
              <b *ngIf="value == 'Total_Debt' ||
                        value == 'Float'      ||
                        value == 'Short_P_of_Float'">** </b>
              {{value | replace: '_': ' '}} ::
              <b>{{data.analisis[value]}}
              <span *ngIf="value == 'Market_Cap' ||
                           value == 'Revenue' ||
                           value == 'Total_Cash' ||
                           value == 'Total_Debt' ||
                           value == 'Float'"> M</span></b>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>

    <div class="col-6">
      <div class="card" style="border: 1px solid #d9d9d9">
        <div class="card-header">
          All Parameters
        </div>
        <ul class="list-group list-group-flush" *ngIf="data.hasOwnProperty('statistics')">
          <ng-container *ngFor="let value of data.statistics | keys">
            <li *ngIf="value !== 'bad'" class="list-group-item">
              {{value | replace: '_': ' '}} ::
              <b>{{data.statistics[value]}}</b>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>

  </div>
</div>

